<div class="home">
  <div class="banner">
    <div class="banner-content">
      <h1>Glade</h1>
      <p>Matos de qualité 🤟</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>

<div class="container landing-page-title-container">
  <div class="row justify-content-around landing-page-title-container">
    <div class="col-md-12 col-xs-12 landing-page-title-col">
      <%= "An amazing Website" %>
    </div>
  </div>
</div>

<div class="container my-container">
  <div class="row justify-content-around my-row">
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <div class="col-md-12 col-xs-12 my-col-card">
          <%= "MY CARD" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col2" %>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col3" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-around my-row">
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <div class="col-md-12 col-xs-12 my-col-card">
          <%= "MY CARD" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col2" %>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col3" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-around my-row">
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <div class="col-md-12 col-xs-12 my-col-card">
          <%= "MY CARD" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col2" %>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 my-col">
      <div class="row justify-content-center my-row-card">
        <%= "row1 col3" %>
      </div>
    </div>
  </div>
</div>
